<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>todoList</title>
</head>
<body>
<div class="container">

    <h1>Todos</h1>

    <form th:action="@{/todo/list}" action="/todo/list" id="activeForm">
        <input type="submit" class="btn btn-lg btn-warning">
    </form>

        <select name="activeSelect" form="activeForm" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="active">Active</option>
            <option value="all">All</option>
        </select>


    <!--<select name="activeSelect" form="activeForm">-->
        <!--<option value="active">Active</option>-->
        <!--<option value="all">All</option>-->
    <!--</select>-->

    </br>

    </br>

    <form action="#" th:action="@{/todo/add}" th:object="${newTodo}" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" th:field="*{title}">
        <label for="title">isUrgent</label>
        <input type="checkbox" name="urgent" id="urgent" th:field="*{urgent}">
        <label for="title">isDone</label>
        <input type="checkbox" name="done" id="done" th:field="*{done}">
        <!--<button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>-->
        <button type="submit" class="btn btn-primary">Save <span class="badge badge-light">Todo</span></button>
    </form>

    </br>
    </br>

    <form th:action="@{/todo/deleteAll}">
        <input type="submit" class="btn btn-lg btn-danger" value="delete all">
    </form>

    </br>
    </br>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Urgent</th>
            <th>Done</th>
            <th>Action</th>
        </tr>

        <div th:each="todo : ${todos}">
            <tr>
                <td th:text="${todo.getId()}" class="badge"></td>
                <td th:text="${todo.getTitle()}" class="alert alert-info" role="alert"></td>
                <!--<td><div th:text="${todo.isUrgent()}" class="label label-info"></div></td>-->
                <td th:class="${todo.isUrgent()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></td>
                <!--<td><div th:text="${todo.isDone()}" class="label label-info"></div></td>-->
                <td><div th:class="${todo.isDone()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"></div></td>
                <td><a th:href="|/todo/delete?id=${todo.getId()}|" class="btn btn-lg btn-warning">delete</a></td>
                <!--<td><a th:href="@{|/todo/${todo.getId()}/delete|}">delete</a></td>-->
            </tr>
        </div>
    </table>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
