
<!DOCTYPE html>
<html>
    <head>
        <link href="stylesshop.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <p>My Shop</p>
            <div class="divLine"></div>
        </header>
        <div class="divline"></div>
        <h1>
            <a class="only" href="/shopavailable" target="_blank">ONLY AVAILABLE</a>
            <a class="cheapest" href="/shopcheapestfirst" target="_blank">CHEAPEST FIRST</a>
            <a class="nike" href="/shopcontainsnike" target="_blank">CONTAINS NIKE</a>
            <a class="average" href="/shopaverage" target="_blank">AVERAGE STOCK</a>
            <a class="expensive" href="/shopexpensive" target="_blank">MOST EXPENSIVE</a>
        </h1>

        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            <tr th:each="item : ${itemsAttr}">
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td th:text="${item.getPrice()} + ' $'"></td>
                <td th:text="${item.getQuantity()}"></td>
            </tr>

        </table>

        <form method="post" action="/shopsearch">
            <label>Search for <input name="search" type="text"/></label>
            <input type="submit" value="Search"/>
        </form>



        <!--
?sortBy=price
?available=yes
-->






    </body>
</html>
