
<!DOCTYPE html>
<html>
    <head>
        <link href="stylesshop.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>        
            <p>My Shop</p>        
            <div class="divLine"></div>    
        </header>
        <div class="divline"></div>
        <h1>
            <a class="only" href="http://localhost:8080/myshop/only" target="_blank">ONLY AVAILABLE</a> 
            <a class="cheapest" href="http://localhost:8080/myshop/cheapest" target="_blank">CHEAPEST FIRST</a> 
            <a class="nike" href="http://localhost:8080/myshop/nike" target="_blank">CONTAINS NIKE</a> 
            <a class="average" href="http://localhost:8080/myshop/average" target="_blank">AVERAGE STOCK</a> 
            <a class="expensive" href="http://localhost:8080/myshop/expensive" target="_blank">MOST EXPENSIVE</a> 
        </h1>







    </body>
</html>
