.newTodos2 {

    margin-left: 315px;
}

label[for="title"], label[for="urgent"], label[for="done"] {
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 26px;
    /*    background: url(png) no-repeat;*/
    background-position: 0 -32px;
    line-height: 24px;
    cursor: pointer;
}

input:checked + label[for="title"],
input:checked + label[for="urgent"],
input:checked + label[for="done"] {
    background-position: 0 0;
    color: #ce1010;
}

input[type="checkbox"] {
    opacity: 100;
    resize: both;
    height: 15px;
    width: 15px;
    margin: 10px;
}
