<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<!--<div th:switch="${color}">-->
    <!--<div th:case="'red'" class="red">-->
        <!--<div th:case="'blue'" class="blue">-->
            <!--<div th:case="'yellow'" class="yellow">-->
                <body>
                <header>
                    <p>My Shop</p>
                    <div class="divLine"></div>
                </header>
                <div class="divline"></div>
                <h1>
                    <a class="only" href="/useful/red" target="_blank">red</a>
                    <a class="only" href="/useful/blue" target="_blank">blue</a>
                    <a class="only" href="/useful/yellow" target="_blank">yellow</a>
                    <a class="only" href="/useful/colored">colored</a>
                    <a class="only" href="/useful/email?email=is@this.valid">is@this.valid</a>
                    <a class="only" href="/useful/email?email=isthis.valid">isthis.valid</a>
                    <a class="only" href="/useful/email?email=is@thisvalid">is@thisvalid</a>
                </br>
                </br>
                    <a class="only" href="/useful/encoded?encoded=example&number=1">example encoded with 1</a>
                    <a class="only" href="/useful/decoded?decoded=fybnqmf&number=1">fybnqmf decoded with -1</a>
                </h1>


                </body>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</html>
