<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="../static/styles.css" th:href="@{styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>Good or Bad</th>
        <th>Without switch</th>
    </tr>

    <tr th:each="bankAccount : ${bankAccounts}"
        th:class="${bankAccount.isKing()} ? King : NotKing">
        <td th:text="${bankAccount.getIndexOf()}"></td>
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${bankAccount.getBalance() + ' Zebra'}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>

        <div th:switch="${bankAccount.goodOrBad()}">
            <td th:case="'Bad'">Bad</td>
            <td th:case="'Good'">Good</td>
        </div>

        <td th:if="${bankAccount.goodOrBad() == 'Bad'}">Bad</td>
        <td th:unless="${bankAccount.goodOrBad() == 'Bad'}">Good</td>




    </tr>


</table>

</body>


<body>

</body>
</html>
