<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>New mentor</title>
</head>
<body>
<div class="container">

    <div th:each="mentor : ${mentors}">
        <a th:href="@{|/mentor/${mentor.getId()}|}" th:text="${mentor.getName()}"></a>
    </div>
    <p>Can't see mentor in the list? Add new</p>
    </br>
    <form action="#" th:action="@{/mentor}" th:object="${mentorNew}" method="post" id="auctionNew">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" th:field="*{name}">

        <select th:field="*{className}" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="false" aria-expanded="false">
            <div class="dropdown-menu">
                <option class="dropdown-item" th:value="'Seadog'" th:field="*{className}" name="seadog">
                    Seadog
                </option>
                <option class="dropdown-item" th:value="'Roboto'" th:field="*{className}" name="roboto">
                    Roboto
                </option>
                <option class="dropdown-item" th:value="'TipTop'" th:field="*{className}" name="tiptop">TipTop
                </option>
                <option class="dropdown-item" th:value="'Really'" th:field="*{className}"
                        name="really">Really
                </option>
            </div>
        </select>


        <button type="submit" class="btn btn-primary">Add <span class="badge badge-light">mentor</span>
        </button>
    </form>

</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
