<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>New Order</title>
</head>
<body>
<div class="container">

    <b>Welcome to Green Fox</b>
    </br>
    <b>Please enter your info and choose</b>

    <!---------------------------------------new Order--------------------------------------->
    <form action="#" th:action="@{/}" method="post" th:object="${orderNew}" class="mt-5">
        <!--------------------------------------input---------------------------------->
        <h3><label for="nameOrder" class="badge badge-pill badge-warning">Name</label></h3>
        <input class="form-control mr-sm-2" type="text" placeholder="name" th:field="*{name}" id="nameOrder"
               name="nameNameOrder" autofocus="autofocus">
        </br>
        <h3><label for="amountOrder" class="badge badge-pill badge-warning">Amount</label></h3>
        <input class="form-control mr-sm-2" type="number" placeholder="amount" th:field="*{amount}" id="amountOrder"
               name="nameAmountOrder" required>
        <!--------------------------------------input radio---------------------------------->
        </br>
        <h3><b>Choose base</b></h3>
        <div class="form-check form-check-inline">
            <h4>
                <label for="riceNoodles">Rice noodles</label>
                <input class="form-check-input ml-2" type="radio" th:value="'Rice noodles'" th:field="*{base}"
                       id="riceNoodles"
                       name="riceNoodles"/>
                <label for="eggNoodles">Egg noodles</label>
                <input class="form-check-input ml-2" type="radio" th:value="'Egg noodles'" th:field="*{base}"
                       id="eggNoodles"
                       name="eggNoodles"/>
                <label for="whiteRice">White rice</label>
                <input class="form-check-input ml-2" type="radio" th:value="'White rice'" th:field="*{base}"
                       id="whiteRice"
                       name="whiteRice"/>
            </h4>
        </div>
        <!--------------------------------------input select---------------------------------->
        </br>
        <h3><b>Select topping</b></h3>

        <select th:field="*{topping}" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <div class="dropdown-menu">
                <option class="dropdown-item" th:value="'Chicken'" th:field="*{topping}" name="toppingChicken">
                    Chicken
                </option>
                <option class="dropdown-item" th:value="'Beef'" th:field="*{topping}" name="toppingBeef">Beef
                </option>
                <option class="dropdown-item" th:value="'Smoked tofu'" th:field="*{topping}"
                        name="toppingSmokedTofu">Smoked tofu
                </option>
            </div>
        </select>
        </br>
        </br>
        </br>
        </br>
        <h1>Make Order
            <button type="submit" class="btn btn-primary btn-lg">Done</button>
        </h1>
    </form>


    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</div>
</body>
</html>
