<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.springframework.org/schema/data/jaxb">
<head>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">

    <h1>
        <label for="register">Register</label>
    </h1>

    <div align="center">
        <!-------------------------------register---------------------------------->
        <form action="#" th:action="@{/ys/register}" th:object="${userNew}" method="post" id="register">
            <!------------------------taken----------------------------->
            <div th:if="${usernameTaken}" class="alert alert-danger">
                Username already taken.
            </div>
            <!-------------------------input----------------------------->
            <label for="username">Username</label>
            <input type="text" name="username" id="username" th:field="*{username}">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" th:field="*{password}">

            <button type="submit" class="btn btn-primary">Done <span class="badge badge-light">registering</span>
            </button>
        </form>
        <!---------------------------------delete all------------------------------->
        <h2>
            <a th:href="@{/ys/deleteUsers}" class="btn btn-lg btn-warning">delete all users</a>
        </h2>
    </div>
    </br>
    </br>

    <h1>
        <label for="register">Login</label>
    </h1>

    <div align="center">
        <!-------------------------------login---------------------------------->
        <form action="#" th:action="@{/ys/login}" th:object="${userLogin}" method="post" id="login">
            <!------------------------found----------------------------->
            <div th:if="${userNotFound}" class="alert alert-danger">
                User not found.
            </div>
            <!--<div th:if="${passwordIncorrect}" class="alert alert-danger">-->
            <!--Username not found.-->
            <!--</div>-->
            <!-------------------------input----------------------------->
            <label for="usernameLogin">Username</label>
            <input type="text" name="usernameLogin" id="usernameLogin" th:field="*{username}">
            <label for="passwordLogin">Password</label>
            <input type="password" name="passwordLogin" id="passwordLogin" th:field="*{password}">

            <button type="submit" class="btn btn-primary">Login<span class="badge badge-light"></span>
            </button>
        </form>
    </div>

</div>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>