* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(white, gray);
    margin-left: 4%;
    font-family:cursive;

}

form {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40%;
}

input[type="submit"] {
    background: #ffff00;
    padding: 15px;
    font-weight: 900;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 15px;
    border: 10px inset #f5ff00;
/*    box-shadow: 0px 0px 30px 20px #00ffff;*/
    width: 280px;
}

header {
    color: #1dc0e6;
    font-weight: 900;
    font-size: 30px;
}

.divLine {
    margin-top: 0px;;
    height: 2px;
    background-color: #1dc0e6;
}

h1 {
    margin-top: 10px;
}

a:link {
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

a:hover {
    background-image: radial-gradient(yellow, red);
}

a:active {
    color: blue;
    background-image: radial-gradient(yellow, orange);
    border-color: orange;

} 

a:visited {
    color: black;
}

th {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(blue, aqua); 
    color: white;
}

table {
    font-size: 25px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
