
<!DOCTYPE html>
<html>
    <head>
        <link href="stylesshop.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>        
            <p>My Shop</p>        
            <div class="divLine"></div>    
        </header>
        <div class="divline"></div>
        <h1>
            <a class="only" href="http://localhost:8080/myshop/only" target="_blank">ONLY AVAILABLE</a> 
            <a class="cheapest" href="http://localhost:8080/myshop/cheapest" target="_blank">CHEAPEST FIRST</a> 
            <a class="nike" href="http://localhost:8080/myshop/nike" target="_blank">CONTAINS NIKE</a> 
            <a class="average" href="http://localhost:8080/myshop/average" target="_blank">AVERAGE STOCK</a> 
            <a class="expensive" href="http://localhost:8080/myshop/expensive" target="_blank">MOST EXPENSIVE</a> 
        </h1>







        <!--
<table>
<thead align="left" style="display: table-header-group">
<tr>                
<th>col 1 </th>                
<th>col 2 </th>                 
<th>col 3 </th>                
<th>col 4 </th>              
<th>col 5 </th>
</tr>   
</thead>
<tbody>
<?php $total = 0; foreach ($data['items'] as $rows) :?>                      
<tr class="item_row">                          
<td><?php echo ++$total; ?></td>                
<td> <?php echo $rows['description']; ?></td>       
<td> <?php echo $rows['price']; ?></td>        
<td> <?php echo $rows['o']; ?></td>        
<td> <?php echo $rows['t']; ?></td>  
</tr>
</tbody>
</table>
<?php endforeach;?>
-->



    </body>
</html>
